#navbarNavDropdown ul li a{
    color: white !important;
    font-size: 14px !important;
}
#sellContent{
    margin-left: 350px;
}
.hero{
    background-image: linear-gradient(180deg, #2d2db0 -65%, #2c8cf4 110%);
    color: white;
}
.textAndSearch{
    padding: 70px 0px 0px 0px;
}
.text h1{
    margin-bottom: 12px;
}
#inputPadding{
    padding: 14px;
}
.containerWidth{
    width: 65%;
}
.form-control:focus{
    outline: none !important;
}
.suggestions p{
    margin: 0px 8px;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 3px;
    background-color: #c1c1ff4f;
}
.suggestions p i{
    margin: 0px 10px 0px 0px;
}
